* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  p {
    padding: 0;
    margin: 0;
  }
}

body,
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  color: #4a4a4a;
}
