@keyframes player-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}

@include b(player-lyric) {
  position: fixed;
  inset: 50px 0 63px;
  z-index: $z-index-player-player;
  padding: 0 36px;
  overflow: hidden;
  overflow-y: auto;
  background: #f9f9f9;
  transition: transform 0.5s;

  @include when(hide) {
    transform: translateY(150%);
  }

  @include when(show) {
    transform: none;
  }

  @include e(content) {
    max-width: 870px;
    margin: auto;
  }

  @include e(song) {
    display: flex;
  }

  @include e(comment) {
    margin-top: 48px;
    margin-bottom: 36px;
  }
}

@include b(player-cover) {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 80px 70px 0 36px;

  @include e(support) {
    position: absolute;
    top: -15px;
    left: 180px;
    z-index: 2;
    width: 30px;
    height: 30px;
  }

  @include e(bar) {
    position: absolute;
    top: 0;
    left: 190px;
    z-index: 1;
    width: 100px;
    height: 146px;
    transition: all 0.3s;
    transform: rotate(-30deg);
    transform-origin: 0 0;

    @include when(playing) {
      transform: rotate(5deg);
    }
  }

  @include e(cover) {
    @include round(320px);
    @include flex-center;

    background: #e6e5e6;
  }

  @include e(inner) {
    @include round(300px);
    @include flex-center;

    background: #000;
    background: linear-gradient(-45deg, #333540, #070708, #333540);
    animation: player-rotate 20s linear infinite;

    @include when(paused) {
      animation-play-state: paused;
    }
  }

  @include e(image) {
    @include round(200px);
  }
}

@include b(lyric) {
  flex: 1;
  padding-top: 45px;

  @include e(name) {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 24px;
    color: #333;
  }

  @include e(desc) {
    display: flex;
    margin-right: 32px;
    margin-bottom: 30px;
    font-size: 12px;

    .label {
      display: inline-block;
      margin-right: 4px;
    }

    .value {
      color: #517eaf;
    }
  }

  @include e(wrap) {
    position: relative;
    width: 380px;
    height: 260px;
    overflow-y: auto;
  }

  @include e(item) {
    margin-bottom: 16px;
    font-size: 12px;

    @include when(active) {
      font-size: 14px;
      font-weight: 700;
      color: #333;
    }
  }

  @include e(text) {
    margin-bottom: 8px;
  }
}
